
@{
    ViewBag.Title = "LoadReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoadReport</h2>

<div id="phpContainer">
    <iframe src="~/Reports/Reportform.aspx" width="10000" height="800"></iframe>

</div>
